*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.accordion{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: aqua;
    align-items: center;
    text-align: center;
}
.items{
    background-color: black;
    color:white ;
    cursor: pointer;
    width: 400px;
    height: max-content;
}